body{
    margin:0;
    padding:0;
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
}
.container{
    width:100vw;
    height:100vh;
    background-image:url(image01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}
.content{
    
    position:absolute;
    top:30%;
    left:10%;
    color:#fff;

}
.content >h1{
    font-size: 120px;
    font-weight: 1000;
}
.content > h1 > span{
    color:#e6173d;
}
.content > button{
    font-size: 50px;
    font-weight: 300;
    background: transparent;
    border: 4px solid black;
    padding:12px 25px;
    color:#fff;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-top: 100px;


}
.content >p{
    font-size: 70px;

}
.launch-time{
    display: flex;
    font-size: 100px;
    font-weight: 800;
}
.launch-time  div{
    flex-basis: 1000px;
   
}
.rocket{
    position: absolute;
    right:20%;
    animation:rocket 4s linear infinite;
    box-sizing: border-box;
}
@keyframes rocket{
    0%{
        bottom:0;
        opacity:0;
    }
    100%{
        bottom:105%;
        opacity: 1;
    }
}
.rocket >img{
    height:300px;
    width:300px;
}
.tria{
    margin-left: 20px;
}
